{% extends "base.html" %}

{% block conteudo %}
    <div id="capa">
        <img src="static/images/capa.png">
    </div>
    <div class="corpo">
        <h1>Sobre a universidade</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam laoreet eget orci id egestas. Nam ut vehicula neque, ac feugiat odio. Sed vitae erat tellus. Sed eu nunc sit amet justo convallis suscipit aliquam ut ex. Cras eu lacus imperdiet, accumsan magna in, mattis dui. Nulla accumsan vel urna at bibendum. Cras ac pharetra lectus. Nulla vitae vulputate ex. Quisque blandit pretium orci ut aliquam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam laoreet eget orci id egestas. Nam ut vehicula neque, ac feugiat odio. Sed vitae erat tellus. Sed eu nunc sit amet justo convallis suscipit aliquam ut ex. Cras eu lacus imperdiet, accumsan magna in, mattis dui. Nulla accumsan vel urna at bibendum. Cras ac pharetra lectus. Nulla vitae vulputate ex. Quisque blandit pretium orci ut aliquam.</p>
    </div>
{% endblock %}